
#header{
    width: 450px;
    height: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: orange;
    border-radius: 20px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkgrey;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    margin-bottom: 50px;
}
#container{
    width: 400px;
    height: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: orange;
    border-radius: 20px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkgrey;
    line-height: 30px;
}

#footer{
    width: 450px;
    height: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: orange;
    border-radius: 20px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkgrey;
    text-align: center;
    line-height: 20px;
    margin-top: 50px;
}

body {
    background-color: gray;
}