<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
</head>

<body>

<div id="header">KALKULATOR BMI</div>

<div id="container">
    <form action="/data" method="post">

        Podaj wagę:
        <input type="number" placeholder="kilogramy np. 71,5" name="mass" step="0.1" th:value="${mass}"><br />
        Podaj wzrost:
        <input type="number" placeholder="metry np. 1,87" name="height" step="0.01" th:value="${height}"><br />
        <input type="submit" value="Przelicz">
    </form>


    <p th:text="${warningMass}"/>
    <p th:text="${warningHeight}"/>
    <p th:text="${bmi}"/>
    <p th:text="${description}"/>

</div>

<div id="footer">Copyrights 2018 by Jakub Nowak</div>


</body>
</html>